<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1002294357857-dgkahs1q8mq16phfrblkrmv8cei9c9uk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1002294357857-dgkahs1q8mq16phfrblkrmv8cei9c9uk</string>
	<key>API_KEY</key>
	<string>AIzaSyCozo-jR4vV8YnLMCHnTUh6ov_DkHbUpcw</string>
	<key>GCM_SENDER_ID</key>
	<string>1002294357857</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.rosehulman.Scoutr</string>
	<key>PROJECT_ID</key>
	<string>scoutr-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>scoutr-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1002294357857:ios:5cf1a4e3467ccc87</string>
	<key>DATABASE_URL</key>
	<string>https://scoutr-ios.firebaseio.com</string>
</dict>
</plist>
